{{page-title title='Posts, Articles, & Writeups'}}
{{#link-to "addPost" tagName="button" class="btn btn-default pull-right"}}<i class="fa fa-calendar-plus-o"></i>Add Post{{/link-to}}

<div class="container">
	{{#each post in model.posts}}
		<article class="article-preview">
			<div class="row">
				<div class="col-sm-2">
					<h2 class="publish-day">{{date-formatter 'DD' post.datePublished}}</h2>
					<div class="publish-month">{{date-formatter 'MMMM' post.datePublished}}</div>
				</div>
				<div class="col-sm-10">
					<h2 class="post-title">{{#link-to "post" post}}{{post.title}}{{/link-to}}</h2>
					<h3 class="post-subtitle">{{post.subtitle}}</h3>
					<div class="post-preview">{{text-preview post.content 200 250}}</div>
					<div class="author">
						<a href="#">
							<img {{bind-attr src="post.author.profileImageUrl"}} class="author-image"><span class="author-name">{{post.author.name}}</span>
						</a>
					</div>
				</div>
			</div>
		</article>
	{{/each}}
</div>

<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<h3><i class="fa fa-leaf"></i> Contact Us</h3>
				<!--<address>
					<strong>Website:</strong><br />
					<a href="#">www.iconic-locations.com</a>
				</address>-->
				<address>
					<strong>Address:</strong><br />
					1110 S 67th St<br />
					Omaha, NE 68182
				</address>

				<div class="social-cont">
					<span class="fa-stack facebook">
						<a href="#">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-facebook fa-stack-1x fa-inverse social-ico"></i>
						</a>
					</span>

					<span class="fa-stack twitter">
						<a href="#">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-twitter fa-stack-1x fa-inverse social-ico"></i>
						</a>
					</span>

					<span class="fa-stack google">
						<a href="#">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-google-plus fa-stack-1x fa-inverse social-ico"></i>
						</a>
					</span>

					<span class="fa-stack instagram">
						<a href="#">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-linkedin fa-stack-1x fa-inverse social-ico"></i>
						</a>
					</span>
				</div>

			</div>
			<div class="col-sm-4">
				<h3><i class="fa fa-newspaper-o"></i> Recent Posts</h3>

				<div class="recent-posts-cont">
					<ul class="image-list">
						{{#each post in (each-limit model.posts 3)}}
						<li class="table">
							{{#link-to "post" post class="table-row"}}
								<div class="vertical-center">
									<!--<img src="http://s3.amazonaws.com/uifaces/faces/twitter/cacique/73.jpg" class="author-image">-->
									<i class="fa fa-file-text-o author-image"></i>
								</div>
								<div class="vertical-center article-title">
									{{post.title}}
								</div>
							{{/link-to}}
						</li>
						{{/each}}

					</ul>
				</div>

			</div>
			<div class="col-sm-4">
				<h3><i class="fa fa-tags"></i> Tags</h3>
				<div class="tag-cont">
				{{#each tag in model.tags}}
					<button type="submit" class="btn">{{tag.name}}</button>
				{{/each}}
				</div>
			</div>
		</div>
	</div>
</footer>

{{outlet}}
