<header id="page-title" class="jumbotron background">
<div id="title-image" class="bg">
	<img {{bind-attr src=postContent.image}} alt="">
</div>
<div class="container">
	<div class="horizontal-center vertical-center">
		<h1 class="article-title">{{postContent.title}}</h1>
		{{#if postContent.subtitle}}
			<h2 class="article-subtitle">{{postContent.subtitle}}</h2>
		{{/if}}
	</div>
</div>
</header>

{{!profiles.profiles}}

<div class="container">
	<div class="row">
		<div class="col-sm-3 post-sidebar">
			<div class="post-sidebar-module">
				<div class="author">
					<a href="#">
						{{#if postContent.author.profileImageUrl}}<img {{bind-attr src="postContent.author.profileImageUrl"}} class="author-image">{{/if}}<span class="author-name">{{postContent.author.name}}</span>
					</a>
				</div>
				<div class="date-published">
					{{date-formatter "MMMM DD, YYYY" model.datePublished}}
				</div>
			</div>

			<!--
			<div class="post-sidebar-module">
				<h3><i class="fa fa-newspaper-o"></i> Recent Posts</h3>
				<div class="recent-posts-cont">
					<ul class="image-list">
						{{#each post in recentPosts}}
							<li class="table">
								{{#link-to "post" post}}
									<div class="vertical-center">
										<img {{bind-attr src="post.author.profileImageUrl"}} class="author-image">
									</div>
									<div class="vertical-center article-title">
										{{post.title}}
									</div>
								{{/link-to}}
							</li>
						{{/each}}
					</ul>
				</div>
			</div>-->

			<div class="post-sidebar-module">
				<h3><i class="fa fa-tags"></i> Tags</h3>
				<div class="tag-cont">
				{{#each tag in postContent.tags}}
					<button type="submit" class="btn">{{tag.id}}</button>
				{{/each}}
				</div>
			</div>
		</div>

		<div class="col-sm-8 post-main pull-right">
			<div class="bs-component">
				<article>
				{{{postContent.content}}}
				</article>
			</div>

			<ul class="pager">
			{{#if previousPost}}
				<li class="previous">{{#link-to "post" previousPost}}← Older{{/link-to}}</li>
			{{else}}
				<li class="previous disabled"><a>← Older</a></li>
			{{/if}}
			{{#if nextPost}}
				<li class="next">{{#link-to "post" nextPost}}Newer →{{/link-to}}</li>
			{{else}}
				<li class="next disabled"><a>Newer →</a></li>
			{{/if}}
			</ul>
		</div>

	</div>
</div>

<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<h3><i class="fa fa-leaf"></i> Contact Us</h3>
				<!--<address>
					<strong>Website:</strong><br />
					<a href="#">www.iconic-locations.com</a>
				</address>-->
				<address>
					<strong>Address:</strong><br />
					1110 S 67th St<br />
					Omaha, NE 68182
				</address>

				<div class="social-cont">
					<span class="fa-stack facebook">
						<a href="#">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-facebook fa-stack-1x fa-inverse social-ico"></i>
						</a>
					</span>

					<span class="fa-stack twitter">
						<a href="#">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-twitter fa-stack-1x fa-inverse social-ico"></i>
						</a>
					</span>

					<span class="fa-stack google">
						<a href="#">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-google-plus fa-stack-1x fa-inverse social-ico"></i>
						</a>
					</span>

					<span class="fa-stack instagram">
						<a href="#">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-linkedin fa-stack-1x fa-inverse social-ico"></i>
						</a>
					</span>
				</div>

			</div>
			<div class="col-sm-4">
				<h3><i class="fa fa-newspaper-o"></i> Recent Posts</h3>

				<div class="recent-posts-cont">
					<ul class="image-list">
						{{#each topposts as |post|}}
						<li class="table">
							{{#link-to "post" post class="table-row"}}
								<div class="vertical-center">
									<!--<img src="http://s3.amazonaws.com/uifaces/faces/twitter/cacique/73.jpg" class="author-image">-->
									<i class="fa fa-file-text-o author-image"></i>
								</div>
								<div class="vertical-center article-title">
									{{post.title}}
								</div>
							{{/link-to}}
						</li>
						{{/each}}

					</ul>
				</div>

			</div>
			<div class="col-sm-4">
				<h3><i class="fa fa-tags"></i> All Tags</h3>
				<div class="tag-cont">
				{{#each tags as |tag|}}
					{{#if tag.name}}
						<button type="submit" class="btn">{{tag.name}}</button>
					{{/if}}
				{{/each}}
				</div>
			</div>
		</div>
	</div>
</footer>
